# Data files
*.gpkg
*.gpkg-shm
*.gpkg-wal
*.fgb
*.parquet
parquet/
bench/
nn_checkpoints/
*.pt
*.json
*.DS_Store
countries/
raster/
color_extract.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class