# Data files
*.gpkg
*.gpkg-shm
*.gpkg-wal
*.fgb
*.parquet
parquet/
bench/
nn_checkpoints/
*.pt
*.json
*.DS_Store
countries/
raster/
raster_old/
raster_other/
color_extract.py
training_old.py
metrics_old.csv
logs_old/
best-logs/
temp.py
db.sqlite3
metrics.csv
analysis/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

.vscode/
.DS_Store

papers/
logs/
old-logs/